@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  padding: 0;
  margin: 0;
}

.body {
  background-image: url("../images/bg_image.jpg");
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
}
#board {
  background: linear-gradient(rgb(130, 209, 130), rgb(199, 199, 140));
  width: 90vmin;
  height: 92vmin;
  border: solid black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.head {
  background: linear-gradient(rgb(240, 113, 113), rgb(207, 207, 115));
  border: 2px solid purple;
  border-radius: 8px;
  transform: scale(1.02);
}

.food {
  background-color: rgb(238, 53, 29);
  border: 0.25vmin solid black;
  border-radius: 12px;
}

.snake {
  background: linear-gradient(rgb(241, 109, 109), rgb(168, 39, 185));
  border: 0.25vmin solid white;
  border-radius: 8px;
}

#scoreBox {
  position: absolute;
  top: 9px;
  right: 200px;
  font-size: 39px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

#highScoreBox {
  position: absolute;
  top: 75px;
  right: 115px;
  font-size: 39px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.buttons {
  position: absolute;
  right: 115px;
}
.up {
  position: absolute;
  top: 166px;
  right: 49px;
}
.down {
  position: absolute;
  top: 252px;
  right: 33px;
}
.left {
  position: absolute;
  top: 189px;
  right: 150px;
}
.right {
  position: absolute;
  top: 196px;
  right: -71px;
}
#audio {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 39px;
}
